@import "../../../styles.scss";

img {
  width: 40%;
  height: 100%;
}

.scrollable {
  overflow-y: scroll;
  padding: 0 !important;
  height: 80vh;
}

.event-card {
  display: flex;
  margin: 1.5rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 5px 9px 0px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

