@import "../../../styles.scss";

.preview-image-container {
  max-height: 40vw;
  width: 40vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: black;
}

img {
  width: 100%;
}

.scrollable {
  overflow-y: scroll;
  padding: 0 !important;
  height: 84vh;
}

.event-card {
  display: flex;
  margin: 1.3rem;
  padding: 0;
}

mat-card-header {
  padding-top: 1rem;
}
