img {
  width: 100%;
}

.scrollable {
  overflow-y: scroll;
  padding: 0 !important;
  height: 80vh;
}

.add-button{
  position: absolute;
  right: 10vw;
  bottom: 30vw;
  width: 7rem;
  height: 7rem;
  font-size: 5rem;
}
