@import "../../../styles.scss";

.menu {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: $mean;
}

button {
  width: 20%;
  height: 100%;
  padding: 0;
  background-color: transparent !important;
}

img {
  height: 40%;
}
