<div class="menu">
  <button routerLink="/myitems" mat-flat-button>
    <img src="../../../assets/icons-blue/073-house-3.png">
  </button>
  <button routerLink="/myitems" mat-flat-button>
    <img src="../../../assets/icons-blue/124-calendar-2.png">
  </button>
  <button routerLink="/swipeitems" mat-flat-button>
    <img src="../../../assets/icons-blue/090-windows-3.png">
  </button>
  <button routerLink="/matches" mat-flat-button>
    <img src="../../../assets/icons-blue/379-smartphone.png">
  </button>
  <button routerLink="/settings" mat-flat-button>
    <img src="../../../assets/icons-blue/006-settings-5.png">
  </button>
</div>
