@import "../../../styles.scss";

.add-button {
  background-color: $primary1 !important;
  position: absolute;
  right: 10vw;
  bottom: 20vw;
  width: 7rem;
  height: 7rem;
  font-size: 3rem;
}

.back-button {
  font-size: 4rem;
}
