<div class="outmost-container">
  <div id="stacked-cards-block" class="stackedcards stackedcards--animatable init">

    <div class="stackedcards-container" id="stackedcards-container">
      <!--    stacked cards go here   -->
    </div>

    <div class="stackedcards--animatable stackedcards-overlay top">TOP</div>
    <div class="stackedcards--animatable stackedcards-overlay right">RIGHT</div>
    <div class="stackedcards--animatable stackedcards-overlay left">LEFT</div>
  </div>
  <div class="global-actions">
<!--
    <button mat-fab class="add-button" routerLink="/hostedevents/new/edit">
      <img class="add-symbol" src="./assets/icons-black/add.png">
    </button>
    -->

    <button mat-fab class="left-action">
      <img src="./assets/icons-black/garbage-2.png">
    </button>
    <button mat-fab class="top-action">
      <img src="./assets/icons-black/star-1.png">
    </button>
    <button mat-fab class="right-action">
      <img src="./assets/icons-black/like-2.png">
    </button>
  </div>
</div>

<app-bottom-menu></app-bottom-menu>
