@import "../../../styles";

.logo {
  width: 80%;
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  opacity: 0.7;
}

.login-fields {
  margin: 0 6rem;
}

.login-container {
  height: 100vh;
  padding-top: 34vh;
}

button {
  position: absolute !important;
  width: 6rem !important;
  height: 6rem !important;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87) !important;
  bottom: 24vh;
  box-shadow: none !important;
  background-color: $primary1 !important;
}

.sign-in-button {
  right: 23vw;
}

.sign-up-button {
  left: 23vw;
}

.on-top-button-left {
  bottom: 2vh;
  opacity: 0.3;
}

.on-top-button-middle {
  bottom: 2vh;
  opacity: 0.3;
}
