<div class="detail-container">

  <mat-card class="detail-card">

    <mat-card-title>
      <h1 class="event-card-headline">{{mock_user.nickname}}</h1>
    </mat-card-title>

    <mat-card-subtitle class="scrollable-content">
      <img
        src="../../../assets/portrait.jpg"
         class="detail-image">
      <div class="description-info">
        <div>
          <img class="description-icon" src="../../../assets/icons-black/time.png">
          {{mock_user.email}}
        </div>
      </div>
      
    </mat-card-subtitle>

  </mat-card>

</div>

<app-bottom-menu></app-bottom-menu>

