<div *ngIf="!isMe" routerLink="/matches" class="back-button">< back</div>

<div *ngIf="isMe" routerLink="/matches" class="back-button-invisible">< back</div>

<div class="details-container">

  <mat-card [ngClass]="isMe ? 'detail-card-shorter' : 'detail-card'">

    <mat-card-title>
      <h1 class="event-card-headline">{{(user$ | async).nickname}}</h1>
    </mat-card-title>

    <mat-card-subtitle class="scrollable-content">
      <div class="profile-picture-container">
        <img *ngIf="(user$ | async).pictureStorageName"
             src="{{this.apiUrl}}/files/{{(user$ | async).pictureStorageName}}" class="profile-picture">
      </div>
      <div class="description-info">
        <div *ngIf="isMe">
          <img class="description-icon" src="./assets/icons-black/paper-plane-1.png">
          {{(user$ | async).email}}
          <br>
          <img class="description-icon" src="./assets/icons-black/home.png">
          {{(user$ | async).location}}
          <br>
          <img class="description-icon" src="./assets/icons-black/view.png">
          {{(user$ | async).distance}} km
        </div>
        <p class="card-subtitle">{{(user$ | async).description}}</p>
      </div>

    </mat-card-subtitle>

  </mat-card>

</div>

<div *ngIf="isMe">
  <app-bottom-menu></app-bottom-menu>
</div>

<div *ngIf="isMe">
  <button mat-fab routerLink="/edituserprofile" class="on-top-button-right-higher">Edit</button>
</div>

<div *ngIf="!isMe">
  <button mat-fab class="on-top-button-left">
    <img class="button-image" src="./assets/icons-black/garbage-2.png">
  </button>
  <button mat-fab class="on-top-button-right">
    <img class="button-image" src="./assets/icons-black/like-2.png">
  </button>
</div>

