.detail-card {
  margin: 1.3rem;
  padding: 0;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 9px 0px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 10px;
}

.card-title{
  font-size: 3rem;
  font-weight: bold;
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
  align-self: center;
}

.card-subtitle{
  font-size: 2rem;
  margin: 1rem;
}

.tags{
  font-size: 2rem;
  color: darkcyan;
  margin: 5vw;
}

.scrollable{
  overflow-y: scroll;
  padding: 0 !important;
  height: 90vh;
}

img {
  width: 100%;
}

