<div class="details-container">

  <mat-card class="detail-card">

    <mat-card-title>
      <h1 class="event-card-headline">{{(event$ | async).headline}}</h1>
    </mat-card-title>

    <mat-card-subtitle class="scrollable-content">
      <div class="image-container">
        <img
          src="{{this.apiUrl}}/files/{{(event$ | async).pictures_events[clickCounter%(event$ | async).pictures_events.length].pictureStorageName}}"
          (click)="cycleThroughPictures()" class="detail-image">
      </div>
      <div class="description-info">
        <div>
          <img class="description-icon" src="./assets/icons-black/time.png">
          {{displayDate((event$ | async).startTime)}}
        </div>
        <div>
          <img class="description-icon" src="./assets/icons-black/pin.png">
          {{(event$ | async).place}}
        </div>
      </div>
      <p class="card-subtitle">{{(event$ | async).description}}</p>
    </mat-card-subtitle>

    <!-- TODO: add tags -->
    <!--<p class="tags" *ngIf="(myItem$ | async).tags">
      <b *ngFor="let tag of (myItem$ | async).tags">
      {{tag}}
      </b>
    </p>-->

  </mat-card>
</div>

