.detail-image{
  position: relative;
  align-self: center;
  width: 80vw;
  margin: 5vw 10vw 5vw 10vw; 
}

.headline{
  font-size: 3rem;
  font-style: italic;
  align-self: center;
  color: darkcyan;
  margin: 5vw;
}

.description{
  font-size: 2rem;
  margin: 5vw;
}

.tags{
  font-size: 2rem;
  color: darkcyan;
  margin: 5vw;
}

.scrollable{
  overflow-y: scroll;
  padding: 0 !important;
  height: 90vh;
}

img {
  width: 100%;
}
