<div id="stacked-cards-block" class="stackedcards stackedcards--animatable init">
  <div class="stackedcards-container">
    <div class="card-item">1
      </div>
    <div class="card-item">2
      </div>
    <div class="card-item">3
      </div>
    <div class="card-item">4
      </div>
    <div class="card-item">5
      </div>
    <div class="card-item">6
      </div>
    <div class="card-item">7
      </div>
  </div>
  <div class="stackedcards--animatable stackedcards-overlay top">TOP</div>
  <div class="stackedcards--animatable stackedcards-overlay right">RIGHT</div>
  <div class="stackedcards--animatable stackedcards-overlay left">LEFT</div>
</div>
<div class="global-actions">
  <div class="left-action">Left</div>
  <div class="top-action">Top</div>
  <div class="right-action">Right</div>
</div>
