.headline {
    width: 100vw;
    font-size: 3rem;
    font-style: italic;
    align-self: center;
    font-family: Verdana;
    color: darkcyan;
    margin: 5vw;
  }
  
.description {
  width: 100vw;
  font-size: 2rem;
  margin: 5vw;
}

.tags{
  font-size: 2rem;
  font-family: fantasy;
  color: darkcyan;
  margin: 5vw;
}