.empty-box{
  width: 90vw;
  height: 90vw;
  border: 4vw;
  align-self: center;
}

.detail-image{
  position: relative;
  align-self: center;
  width: 80vw;
  margin: 5vw 10vw 5vw 10vw; 
}

.headline {
  width: 90vw;
  font-size: 3rem;
  font-style: italic;
  align-self: center;
  font-family: Verdana;
  color: darkcyan;
  margin: 0vw 5vw 0vw 5vw;
  padding: 0vw;
}
  
.description {
  width: 90vw;
  font-size: 2rem;
  margin: 0vw 5vw 0vw 5vw;
}

.tags{
  font-size: 2rem;
  font-family: fantasy;
  color: darkcyan;
  margin: 0vw;
}

.save-button{
  position: absolute;
  right: 10vw;
  bottom: 5vw;
  width: 7rem;
  height: 7rem;
  font-size: 2rem;
}

.scrollable{
  overflow-y: scroll;
  padding: 0 !important;
  height: 90vh;
}