<div>

  <div>
    <button routerLink="/myitems" mat-button><</button>
  </div>
  <div class="scrollable">

    <div *ngIf="myItem">
      <img class="detail-image" src="../../../assets/flower{{(myItem$ | async).itemId}}.png">
    </div>

    <mat-form-field class="headline">
      <div *ngIf="myItem; else elseBlock">
        <textarea matInput placeholder="Headline" value="{{(myItem$ | async).headline}}"></textarea>
      </div>
      <ng-template #elseBlock>
        <textarea matInput placeholder="Headline"></textarea>
      </ng-template>
    </mat-form-field> 
    
    <mat-form-field class="description">
      <div *ngIf="myItem; else elseBlock">
        <textarea matInput placeholder="Description" value="{{(myItem$ | async).description}}"></textarea>
      </div>
      <ng-template #elseBlock>
        <textarea matInput placeholder="Description"></textarea>
      </ng-template>
    </mat-form-field>
      
  </div>

</div>

