@import "../../../styles.scss";

.icon {
  width: 24%;
  height: 100%;
  border-radius: 100%;
  padding: 0.8rem;
}

.event-icon {
  width: 24%;
  height: 100%;
  border-radius: 0%;
}

.preview-image-container {
  max-height: 40vw;
  width: 40vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: white;
}

img {
  width: 100% !important;
}

.chat-card {
  display: flex;
  margin: 1.3rem;
  padding: 0;
  max-height: 25vw;
  overflow: hidden;
}

.chat-button{
  background-color: #ffc031;
}

.scrollable {
  overflow-y: scroll;
  padding: 0 !important;
  height: calc(84vh - constant(safe-area-inset-top));
  height: calc(84vh - env(safe-area-inset-top));
}

.chat-card {
  display: flex;
  margin: 1.3rem;
  padding: 0;
}

mat-card-header {
  padding-top: 1rem;
}

mat-card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 3px 6px 0px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

