<div>
  <h1>
    My items
  </h1>
  <app-top-menu></app-top-menu>
  <div class="set-height">
    <mat-grid-list cols="2" class="scrollable">
      <mat-grid-tile *ngFor="let item of (myItems$ | async)" routerLink="/myitems/{{item.id}}">
        <!--<p>{{item.headline}}</p>-->
        <img src="{{this.apiUrl}}/files/{{item.pictures[0].pictureStorageName}}">
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-fab color="accent" class="add-button" routerLink="/myitems/new/edit">+</button>
  </div>
  <app-bottom-menu></app-bottom-menu>
</div>
