<div>
  <h2>
    Detailed View
  </h2>
  <div class="scrollable">
    <img class="detail-image" src="../../../assets/flower1.png">
    <p class="headline">
      {{(myItem$ | async).headline}}
    </p>
    <p class="description">
      This is a random description
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
      super long<br>
    </p>
    <p class="tags">
      #Firsttag, #Secondlongtag, #Short
    </p>
  </div>
  <div>
</div>
