<div>
  <div>
    <button routerLink="/myitems" mat-button><</button>
  </div>
  <div class="scrollable">
    <img src="{{this.apiUrl}}/files/{{(myItem$ | async).pictures[0].pictureStorageName}}">
    <p class="headline">
      {{(myItem$ | async).headline}}
    </p>
    <p class="description">
      {{(myItem$ | async).description}}
    </p>
    <!-- TODO: add tags -->
<!--    <p class="tags" *ngIf="(myItem$ | async).tags">
      <b *ngFor="let tag of (myItem$ | async).tags">
      {{tag}}
      </b>
    </p>-->
  </div>
</div>
