@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ng-pick-datetime/assets/style/picker.min.css';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

//######### COLORS, FONTS, THEMES ##############################################

$theme-primary: mat-palette($mat-grey);
$theme-accent: mat-palette($mat-blue-grey);
$theme-warn: mat-palette($mat-red);

$primary1: #ffc031;
$light-primary1: rgba(255, 173, 23, 0.65);
$lighter-primary1: rgba(255, 173, 23, 0.38);
$primary2: #fd6487;
$light-primary2: rgba(253, 100, 150, 0.65);
$lighter-primary2: rgba(253, 100, 150, 0.38);
$mean: #ff8d5e;
$light-mean: rgba(255, 141, 94, 0.67);
$lighter-mean: rgba(255, 141, 94, 0.37);

$dark-overlay: rgba(130, 91, 75, 0.25);
$text: rgba(0, 0, 0, 0.87);
$light-text: rgba(0, 0, 0, 0.4);
$disabled: rgba(0, 0, 0, 0.12);

$app-theme: mat-light-theme(
    $theme-primary,
    $theme-accent,
    $theme-warn
);

$app-typography: mat-typography-config(
  $font-family: '"Titillium Web", "Helvetica Neue", sans-serif'
);

@include mat-core($app-typography);

.app-theme {
  @include angular-material-theme($app-theme);
}

//######### GENERAL ##############################################

body {
  font-family: 'Titillium Web', sans-serif !important;
  background: linear-gradient(to bottom left, $primary1, $primary2 90%);
  overflow: hidden;
}

.headline {
  font-weight: 900;
  padding-left: 2rem;
  height: 10vh;
  margin: 0 !important;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.34);
}

.event-card-headline, .edit-headline {
  margin: 0;
  padding: 1.5rem 2.5rem 1.2rem 2.5rem;
  font-weight: 900;
}

mat-card {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 3px 6px 0px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

//######### DETAIL SCREENS ##############################################

.details-container {
  height: 96vh;
  padding-bottom: 2rem !important;

  .detail-card {
    margin: 1.3rem;
    padding: 0 0 2rem 0 !important;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 9px 0px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 10px;
    height: 89vh;
    overflow: auto;
  }

  mat-card-title {
    margin: 0 !important;
  }

  .image-container {
    position: relative;
    width: calc(100vw - 2.6rem);
    max-height: calc(100vw - 2.6rem);
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 15vw;
  }

  .detail-image {
    width: 100%;
  }
}

.scrollable-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 10vh);
  padding-bottom: 2rem !important;
}

//######### EDIT SCREENS ##############################################

.image-container {
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -120px 93px -48px rgba(255,255,255,0.8);
  }

  .upload-picture {
    position: absolute;
    bottom: 5%;
    right: 5%;

    /deep/ .mat-button-wrapper {
      display: flex !important;
      justify-content: center !important;
    }
  }

  .delete-picture {
    position: absolute;
    bottom: 5%;
    right: 20%;

    img {
      padding-bottom: 2px;
    }
  }

  button {
    font-size: 2rem;
    background-color: $primary2 !important;
    color: rgba(0, 0, 0, 0.87) !important;
    box-shadow: none !important;

    img {
      width: 50%;
      height: 50%;
    }
  }

  button:disabled {
    background-color: $disabled !important;
  }
}

.input-info {
  color: $light-text;
  font-size: 1.3rem;
  padding: 1.5rem 1rem 0.3rem 2rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.edit-multiple-lines {
  padding: 0 0.7rem !important;
  margin: 0 1.5rem 2rem 1.5rem !important;
  width: calc(100% - 3rem) !important;
  border-radius: 4px;
  resize: none;
  outline: none !important;
  height: 20vh;
  background-color: #ffffff !important;
  border: none !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 0 0 rgba(0, 0, 0, 0.02), 0 0 1px 0 rgba(0, 0, 0, 0.05) !important;
}

.edit-single-line {
  padding: 0 0.7rem !important;
  margin: 0 1.5rem 0 1.5rem !important;
  width: calc(100% - 3rem) !important;
  border-radius: 4px;
  outline: none !important;
  background-color: #ffffff !important;
  border: none !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 0 0 rgba(0, 0, 0, 0.02), 0 0 1px 0 rgba(0, 0, 0, 0.05) !important;
}

.edit-headline {
  padding: 0 0.7rem !important;
  margin: 0 1.5rem 1.5rem 1.5rem !important;
  width: calc(100% - 3rem) !important;
  border-radius: 5px;
  font-size: 36px !important;
  font-weight: 900 !important;
  outline: none !important;
  background-color: #ffffff !important;
  border: none !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 0 0 rgba(0, 0, 0, 0.02), 0 0 1px 0 rgba(0, 0, 0, 0.05) !important;
}

.delete-icon {
  width: 50%;
}

//######### BUTTONS ##############################################

.back-button {
  height: 2vh;
  font-size: 1.6rem;
  margin-left: 1.5rem;
  padding-top: 0.1rem;
}

.on-top-button-left {
  position: absolute !important;
  left: 10vw;
  bottom: 2.5vh;
  width: 6rem !important;
  height: 6rem !important;
  font-size: 2rem;
  background-color: $primary1 !important;
  color: $text !important;
}

.on-top-button-middle {
  position: absolute !important;
  left: 50vw;
  margin-left: -3rem !important;
  bottom: 2.5vh;
  width: 6rem !important;
  height: 6rem !important;
  font-size: 2rem;
  background-color: #ffc031 !important;
  color: $text !important;
}

.on-top-button-right {
  position: absolute !important;
  right: 10vw;
  bottom: 2.5vh;
  width: 6rem !important;
  height: 6rem !important;
  font-size: 2rem;
  background-color: $primary1 !important;
  color: $text !important;
}

.on-top-button-right-higher {
  position: absolute !important;
  right: 10vw;
  bottom: 8.5vh;
  width: 6rem !important;
  height: 6rem !important;
  font-size: 2rem;
  background-color: $primary1 !important;
  color: $text !important;
}

//######### SWIPE EVENTS ##############################################

.card-item img {
  width: 100%;
}

.mat-button-wrapper {
  padding: 0 0 !important;
}

.card-item .info {
  font-size: 1.6rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  color: rgba(0, 0, 0, 0.54);
}

.card-item .icon {
  width: 2rem;
  padding-right: 0.5rem;
  opacity: 0.7;
}

.description-info {
  font-size: 1.6rem;
  color: $text;
  padding: 1.5rem;
  opacity: 0.7;
}

.description-icon {
  width: 2rem;
  padding-right: 0.5rem;
  opacity: 0.7;
}

.swipe-image-container {
  position: relative;
  width: calc(100vw - 2.6rem);
  max-height: calc(100vw - 2.6rem);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.button-image{
  width: 55%
}

//######### TAGS ##############################################

/deep/ .mat-chip-list-wrapper {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

/deep/ .mat-standard-chip {
  background-color: $primary1 !important;
}

/deep/ .mat-form-field-wrapper .mat-chip-list-wrapper {
  padding: 0 !important;
}
